extends layout.jade

block title
    title 注册
block content
    .form-container
        h2 注册
        if error 
            .alert.alert-danger #{error}
        else if success
            .alert.alert-success #{success}
        form(action="/register",method="POST")
            .form-group
                label 用户名   
                input(type="text",name="username",required).form-control
            .form-group    
                label 密码
                input(type="password",name="password",required).form-control
            .form-group  
                label 邮箱      
                input(type="email",name="email",required).form-control
            .form-group        
                label 验证码
                div
                    img#capShow(src='getCap/0.1',onclick="this.src='getCap/'+Math.random()",alt='验证码')
                input(type="text",name="captcha",required).form-control
            .form-group
                button.btn.btn-primary 注册
                a(href="/login").btn.btn-link 取消
        
