link(href='http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css',rel='stylesheet')
script(src='http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js')
script(src='http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js')
style.
    .form-container {
        width: 400px;
        margin: auto;
    }
    body {
            padding-top: 100px;
        }
    .credits {
            border-top: 1px solid #ddd;
            margin-top: 40px;
            padding-top: 20px;
        }