<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">孤独</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>说不上为什么</p>
        <p>我变得很主动</p>
        <p>若爱上一个人什么都会值得去做</p>
        <p>我想大声宣布...</p>
    </md-card-content>
    <md-card-footer>
        <md-card-avatar>
            <img class="md-user-avatar" src="https://material.angularjs.org/latest/img/icons/angular-logo.svg" width="24" height="24" />
        </md-card-avatar>
        <span>
          30/11/2016 夜 于成都
        </span>
        <div>
            <span>赞</span>
            <ul>
                <li>立意</li>
                <li>韵律</li>
                <li>意境</li>
            </ul>
        </div>
    </md-card-footer>
    <div layout="row">
        <md-card-actions layout="row" layout-align="start center">
            <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon>favorite</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Comment">
                <md-icon>comment</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
                <md-icon>share</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
                <md-icon> attach_money </md-icon>
            </md-button>
        </md-card-actions>
    </div>
    <div>
        词评
    </div>
</md-card>
