<md-card id="detail">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{vm.lrc.title}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>{{vm.lrc.content}}</p>
    </md-card-content>
    <md-card-footer>
        <md-card-avatar>
            <img class="md-user-avatar" src="https://material.angularjs.org/latest/img/icons/angular-logo.svg" width="24" height="24" />{{vm.lrc.author}}
        </md-card-avatar>
        <span>
          {{vm.lrc.publishTime}} 夜 于成都
        </span>
        <div>
            <span>赞</span>
            <ul>
                <li>立意</li>
                <li>韵律</li>
                <li>意境</li>
            </ul>
        </div>
    </md-card-footer>
    <div layout="row">阅读：{{vm.lrc.views}} 喜欢：{{vm.lrc.likes}}
        <md-card-actions layout="row" layout-align="start center">
            <!-- <md-button class="md-icon-button" aria-label="Favorite" ng-click="vm.like()">
                <md-icon>favorite</md-icon>
            </md-button> -->
            <md-button ng-class="{'md-icon-button md-accent' : vm.likeByUser, 'md-icon-button' : !vm.likeByUser}" aria-label="Favorite" ng-click="vm.like()">
                <md-icon>favorite</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Comment" ng-click="vm.addComment($event)">
                <md-icon>comment</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
                <md-icon>share</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
                <md-icon> attach_money </md-icon>
            </md-button>
        </md-card-actions>
    </div>
    <div>
        <md-list class="md-dense">
            <md-subheader class="md-no-sticky">词评</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="item in vm.lrc.comments">
                <img ng-src="" class="md-avatar" alt="{{item.name}}">
                <div class="md-list-item-text" layout="column">
                    <h3>{{item.authorName}}</h3>
                    <h3>{{item.content}}</h3>
                    <p>{{item.commentTime}}</p>
                </div>
                <div>
                    <md-button ng-click="vm.replyComment($event,item.authorName)">
                        <md-icon> comment </md-icon>
                    </md-button>
                    <md-button ng-click="vm.deleteComment($event,item)" ng-show="$root.globals.user.name==item.authorName">
                        <md-icon> delete </md-icon>
                    </md-button>
                </div>
            </md-list-item>
            <md-list-item ng-show="vm.lrc.comments.length===0">
                <md-button ng-click="vm.addComment($event)">点击第一个评论~</md-button>
            </md-list-item>
        </md-list>
    </div>
</md-card>
