<md-list>
    <md-list-item class="md-3-line" ui-sref="write">
        <div class="md-list-item-text" layout="column">
            <a>写歌词</a>
        </div>
    </md-list-item>
    <md-list-item class="md-3-line" ui-sref="user({userID: $root.globals.user._id})">
        <div class="md-list-item-text" layout="column">
            <a>我的主页</a>
        </div>
    </md-list-item>
    <md-list-item class="md-3-line" ui-sref="collects">
        <div class="md-list-item-text" layout="column">
            <a>收藏</a>
        </div>
    </md-list-item>
    <!-- <md-list-item class="md-3-line" ng-click="null">
        <div class="md-list-item-text" layout="column">
            <a>评论</a>
        </div>
    </md-list-item> -->
    <!-- <md-list-item class="md-3-line" ng-click="null">
        <div class="md-list-item-text" layout="column">
            <a>草稿</a>
        </div>
    </md-list-item> -->
    <md-list-item class="md-3-line" ui-sref="msgBox">
        <div class="md-list-item-text" layout="column">
            <a>消息{{length}}</a>
        </div>
    </md-list-item>
    <!-- <md-list-item class="md-3-line" ng-click="null">
        <div class="md-list-item-text" layout="column">
            <a>设置</a>
        </div>
    </md-list-item> -->
    <!-- <md-list-item class="md-3-line" ng-click="null">
        <div class="md-list-item-text" layout="column">
            <a ui-sref="resetPass">修改密码</a>
        </div>
    </md-list-item> -->
    <!-- <md-list-item class="md-3-line" ui-sref="logout">
        <div class="md-list-item-text" layout="column">
            <a>退出</a>
        </div>
    </md-list-item> -->
</md-list>
