<md-list>
    <div ng-repeat="item in vm.lrcs">
        <md-list-item class="md-3-line md-long-text" ui-sref="detail({lrcID: item._id})" layout="row">
            <div class="md-list-item-text">
                <time title="{{ item.publishTime | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}" am-time-ago="item.publishTime"></time>
                <h3 ng-bind-html="item.title | highlight:vm.searchContent">></h3>
                <p ng-bind-html="item.content | highlight:vm.searchContent"></p>
                <p>阅读{{item.views}}</p>
                <p>喜欢{{item.likes}}</p>
                <p>评论{{item.comments.length}}</p>
            </div>
            <md-icon>keyboard_arrow_right</md-icon>
        </md-list-item>
        <md-divider></md-divider>
    </div>
    <div ng-show="vm.lrcs.length==0 && vm.searched">
        没有匹配的结果
    </div>
</md-list>
