<md-bottom-sheet class="md-list md-has-header" style="position: fixed;">
    <md-subheader ng-cloak>设置</md-subheader>
    <md-list ng-cloak>
        <md-list-item>
            <md-button>
                <span class="md-inline-list-icon-label">修改昵称</span>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button>
                <span class="md-inline-list-icon-label">修改密码</span>
            </md-button>
        </md-list-item>
    </md-list>
</md-bottom-sheet>
