<div>
    <md-list>
        <md-list-item class="md-3-line md-long-text">
            <div class="md-list-item-text">
                <h3>喜欢与爱</h3>
                <p>说不上为什么</p>
                <p>我变得很主动</p>
                <p>若爱上一个人什么都会值得去做</p>
                <p>我想大声宣布...</p>
            </div>
            <span>5天前</span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-3-line md-long-text">
            <div class="md-list-item-text">
                <h3>喜欢与爱</h3>
                <p>说不上为什么</p>
                <p>我变得很主动</p>
                <p>若爱上一个人什么都会值得去做</p>
                <p>我想大声宣布...</p>
            </div>
            <span>5天前</span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-3-line md-long-text">
            <div class="md-list-item-text">
                <h3>喜欢与爱</h3>
                <p>说不上为什么</p>
                <p>我变得很主动</p>
                <p>若爱上一个人什么都会值得去做</p>
                <p>我想大声宣布...</p>
            </div>
            <span>5天前</span>
        </md-list-item>
    </md-list>
</div>
<div>
    <img src="" alt="">
    <span>成都市</span>
    <span>名字</span>
    <span>简介</span>
    <md-button class="md-raised md-warn">关注</md-button>
    <span>3首</span>
</div>
